html {
  display: table;
  margin: auto;
}
body {
  display: table;
  color: '#000000';
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
  max-width: 1800px;
  background-color: white;
  height: 100%;
  margin: auto 40px;
  border: 1px black solid;
  padding: 0px !important;
  align-items: center;
  vertical-align: middle;
}

*:focus {
  outline: none !important;
}

* {
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.main {
  width: 100%;
  display: table;
}

.title {
  color: black;
}

svg {
  font-family: none !important;
}

a {
  color: black;
  font-weight: 700;
}

#top_part {
  width: 100%;
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: auto;
  background-color: white;
  border-bottom: 1px black solid;
}

#top_part > *{
  padding: 0 10px;
}

#home_icon {
  background-color: white;
}

.button_container {
  display: flex;
  align-items: stretch;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

#home_icon > * {
  height: 50px;
}

.perm_button {
  line-height: 50px;
  text-align: center;
  flex-grow: 1;
  text-decoration: none;
}

.perm_button:hover {
  background-color: pink;
  transition-duration: 600ms;
}

.perm_button > * {
  display: inline-block;
}

.App {
  padding: 100px;
}

#home_img {
  width: 100%;
}

.cta_wrapper {
  margin: 0 0 10px;
}

.reddit_wrapper {
  height: 100px;
  align-items: center;
  vertical-align: middle;
}

#reddit_logo {
  height: 30px;
}

#gmbf_logo {
  width: 256px;
}

#bottom_part {
  border-top: 1px black solid;
  padding: 10px;
}

#visitor_counter_wrapper {
  font-size: x-small;
  font-weight: 400;
  padding: 0;
  margin: 0 0 5px 0;
  text-align: left;
}

#det_counter_wrapper {
  font-size: x-small;
  font-weight: 400;
  padding: 0;
  margin: 0 0 5px 0;
  text-align: left;
}

@media only screen and (max-width: 1200px) {
  .App {
    padding: 50px;
  }
  
}

@media only screen and (max-width: 1011px) {

  .App {
    padding: 50px 10px;
  }

}

@media only screen and (max-width: 888px) {
  body {
    margin: 0 20px;
  }
}

@media only screen and (max-width: 808px) {
  .App {
    padding: 20px 10px;
  }
  body {
    margin: 0 10px;
  }
}

@media only screen and (max-width: 416px) {
  body {
    margin: 0 0;
  }
}